@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
}
:root {
    --table-color: #006400;
    --card-back: #122c47;
    --chip-color: #f1c40f;
    --active-border: #e74c3c;
    --activeDo-border: #99fff6;
}
* {
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: 'Segoe UI', sans-serif;
}
body {
    background: var(--table-color);
    display: flex;
    color: white;
}
.container {
    margin: 0 auto;
    height: 100%;
}

.poker-table{
    display: none;
    background: radial-gradient(circle at center, #004d00 0%, #002600 100%);
}

.player-dealer{
    display: none;
}
.player-dealer.active{
    display: flex;
}
.player-SB{
    display: none;
}
.player-SB.active{
    display: flex;
}
.player-BB{
    display: none;
}
.player-BB.active{
    display: flex;
}

.operationBtn{
    /*display: none;*/
}

.operationBtn.active{
    /*display: block;*/
    /*background: #f39c13;*/
}