@charset "UTF-8";
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.pageBody{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
}
.dayType{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(3,1fr);
}
.typeCell{
    width: 100%;
    display: flex;
    font-size: 16px;
    height: 32px;
    color: #fff;
    background-color: #0b7ec4;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    align-items: center;
    justify-content: center;
}
.dayDiv{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(7,1fr);
}
.dayShow{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.dayCell{
    width: 100%;
    text-align: center;
    font-size: 16px;
    height: 24px;
    color: #000;
    user-select: none;
    line-height: 24px;
    cursor: pointer;
}

.weekDiv{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    border-bottom: 1px solid #000;
}
.weekCell{
    text-align: center;
    font-size: 16px;
    user-select: none;
    height: 26px;
    font-weight: bold;
    line-height: 26px;
    color: #000;
    width: 100%;
}
.deleteToDoShow{
    display:none;
    height: calc(100% - 50px);
    gap: 10px;
    margin-top: 10px;
    padding-top: 5px;
    flex-direction: column;
    border-top: 2px dashed #ff0000;
    padding-right: 15px;
}
.listToDoShow{
    display: none;
    height: calc(100% - 50px);
    gap: 10px;
    margin-top: 10px;
    padding-top: 5px;
    flex-direction: column;
    border-top: 2px dashed #ff0000;
    padding-right: 15px;
}
.toDoShow{
    display:flex;
    height: calc(100% - 230px);
    gap: 10px;
    margin-top: 10px;
    padding-top: 5px;
    flex-direction: column;
    border-top: 2px dashed #007eff;
    padding-right: 15px;
}
.toDoCell{
    height: auto;
    gap: 10px;
    min-height: 30px;
    padding: 5px;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkBtn{
   width: 24px;
}
.toDoEditBtn{
    display:flex;
    align-items: center;
    width: 24px;
    cursor: pointer;
}
.toDoOkBtn{
    display:none;
    align-items: center;
    width: 24px;
    cursor: pointer;
}
.toDoDelBtn{
    display:none;
    align-items: center;
    width: 24px;
    cursor: pointer;
}
.toDoRestoreBtn{
    display:flex;
    align-items: center;
    width: 24px;
    cursor: pointer;
}
.toDoContent{
    display:none;
    align-items: center;
    font-size: 16px;
    color: #000;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    width: calc(100% - 80px);
    word-break: break-all;
}
.toDoInput{
    display:none;
    align-items: center;
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 80px);
    resize: none;
}
.toDoInput:focus-visible {
    outline-offset: 0px;
    border: 1px solid #2877c7;
}
.active{
    display: flex;
}

.typeActive{
    background-color: #ff8540;
    border-radius: 4px;
}

.dayActive{
    background-color: #ff8540;
    color: #fff;
    border-radius: 4px;
}


.completed{
    text-decoration: line-through;
    color: #ccc;
    text-decoration-color: #ccc;
}
.daychange{
    cursor: pointer;
}


/*精灵球加载动画*/
.loading{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffffa8;
}
.loader {
    height: 60px;
    aspect-ratio: 1;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    position:absolute;
}
.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform-origin: bottom;
}
.loader::after {
    background:
            radial-gradient(at 75% 15%,#fffb,#0000 35%),
            radial-gradient(at 80% 40%,#0000,#0008),
            radial-gradient(circle  5px,#fff 94%,#0000),
            radial-gradient(circle 10px,#000 94%,#0000),
            linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
            linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
            #000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}
.loader::before {
    background:#ddd;
    filter: blur(8px);
    transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 {
    30%,70% {transform:rotate(0deg)}
    49.99%  {transform:rotate(0.2deg)}
    50%     {transform:rotate(-0.2deg)}
}

.scroll{
    overflow: auto;
}

/* 自定义滚动条轨道 */
.scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道背景色 */
    border-radius: 10px; /* 圆角 */
}

/* 自定义滚动条滑块 */
.scroll::-webkit-scrollbar-thumb {
    background-color: #888; /* 滑块颜色 */
    border-radius: 10px; /* 圆角 */
    border: 2px solid #0b7ec4; /* 滑块边框 */
}

/* 自定义滚动条滑块悬停效果 */
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 悬停时滑块颜色 */
}

/* 设置滚动条宽度 */
.scroll::-webkit-scrollbar {
    width: 4px; /* 垂直滚动条宽度 */
    height: 4px; /* 水平滚动条高度 */
}
