@charset "UTF-8";


/* 背景层（可以换成任意图片） */
.backgroundDiv_image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.container-all {
    height: 48vh;
    display: grid;
    grid-template-columns: 36vh auto 36vh;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
		    "player4 outCard player3"
		    "player5 outCard player2";
}

.outCard {
    grid-area: outCard;
}

.playerArea {
    height: 24vh;
    width: 24vh;
    display: flex;
    gap: 2vh;
}

.player2 {
    grid-area: player2;
    margin-right: 12vh;
}

.player3 {
    grid-area: player3;
    margin-right: 12vh;
}

.player4 {
    grid-area: player4;
    margin-left: 12vh;
}

.player5 {
    grid-area: player5;
    margin-left: 12vh;
}

.btnDiv {
    height: 40px;
    border-radius: 4px;
    background-color: #0095ff;
    color: white;
    line-height: 40px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.room-list{
    display: none;
    position: absolute;
    background-color: white;
    width: 7vw;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 10vh;
    margin-left: 3vw;
    max-height:7vh;
    overflow: auto;
    z-index: 99;
    min-width: 160px;
}
.room_info{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: auto;
    white-space: nowrap;
}
.exitBtn{
    position: absolute;
    bottom: 1%;
    right: 10px;
}

.roomNumDiv{
    height: 28px;width:130px;border-radius: 8px;border:0px;background-color: white;
    text-align: center;
    line-height: 28px;
}