@charset "UTF-8";
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.div_body{
    position: relative;background-color: #000000;width: 100%;height: 100%;
}
.backgroundDiv_image{
    background-image: url(../assets/images/myImage/flyCard.png);
    width: 80%;
    height: 100%;
    background-size: cover;
    position: absolute;left: 10%;
}
.img_size{
    width:100%;height:100%;
}

.card1{
    border-style: groove;
    height: 7rem;
    margin-left: -2rem;
}

.card2{
    border-style: groove;
    height: 7rem;
    margin-left: -2rem;
}

.card3{
    border-style: groove;
    height: 7rem;
    margin-top: -5rem;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.card4{
    border-style: groove;
    height: 7rem;
    margin-left: -2rem;
}
.card5 {
    border-style: groove;
    height: 7rem;
    margin-top: -5rem;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.playerCards_top_left{
    left: 20%;
    margin-top: 2%;
    position: absolute;
    display: flex;
}

.playerCards_top_right{
    right: 20%;
    margin-top: 2%;
    position: absolute;
    display: flex;
}

.playerCards_mid_left{
    left: 8%;
    margin-top: 16%;
    position: absolute;
}

.playerCards_mid_right{
    right: 8%;
    margin-top:  16%;
    position: absolute;
}

.playerCards_mid_bottom{
    left: 42%;
    bottom: 10%;
    position: absolute;
    display: flex;
    height: 115px;
}

.btnDiv{
    height: 40px;
    border-radius: 4px;
    background-color: #0095ff;
    color: white;
    line-height: 40px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.lightCard{
    width: 30px;
    text-align: center;
    font-size: 42px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.playerLight1{
    display: flex;
    background-color: #e3e4e538;
    color: #ccc;
    width: 140px;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    left: 19%;
    top: 15%;
    height: 40px;
    align-items: center;
}
.playerLight2{
    display: flex;
    background-color: #e3e4e538;
    color: #ccc;
    width: 140px;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    right: 20%;
    top: 15%;
    height: 40px;
    align-items: center;
}
.playerLight3{
    display: flex;
    background-color: #e3e4e538;
    color: #ccc;
    width: 40px;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    right: 13%;
    top: 33%;
    height: 140px;
    align-items: center;
    flex-direction: column;
}
.playerLight4{
    display: flex;
    background-color: #e3e4e538;
    color: #ccc;
    width: 140px;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    left: 30%;
    bottom: 21%;
    height: 40px;
    align-items: center;
}
.playerLight5{
    display: flex;
    background-color: #e3e4e538;
    color: #ccc;
    width: 40px;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    left: 13%;
    top: 33%;
    height: 140px;
    align-items: center;
    flex-direction: column;
}

.RedSan.active{
    /* 样式规则 */
    color:red;
}
.BlackSan.active{
    /* 样式规则 */
    color:#000000;
}

.startGameBtn{
    background-color:#ccc;
}
.startGameBtn.active{
    background-color:#0095ff;
}

.time1{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 19%;
    left: 26%;
    display: none;
}
.time2{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 19%;
    right: 26%;
    display: none;
}
.time3{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 47%;
    right: 15%;
    display: none;
}
.time4{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 30%;
    left: 49%;
    display: none;
}
.time5{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 47%;
    left: 15%;
    display: none;
}

.mycard.active{
    margin-top: -30px;
}

.outCards{
    display: flex;
    position: absolute;
    top: 43%;
    justify-content: center;
    width: 100%;
}


.result-Div{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#ffffff3d;
    top: 0px;
}

.result-msg{
    font-size: 28px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    height: 55px;
    line-height: 55px;
}
.result-money{
    font-size: 28px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    height: 55px;
    line-height: 55px;
}

.outUserName{
    display: flex;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 38%;
    font-size: 26px;
    align-items: center;
    color: #ffd600;
    justify-content: center;
}

.winer1{
    left: 20%;
    margin-top: 3%;
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    height: 68px;
    width: 200px;
}
.winer2{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    height: 68px;
    width: 200px;
    right: 20%;
    margin-top: 3%;
    position: absolute;
}
.winer3{
    color: white;
    height: 68px;
    width: 200px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    right: 3%;
    margin-top: 16%;
    position: absolute;
}
.winer4{
    color: white;
    height: 68px;
    width: 200px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    left: 40%;
    bottom: 11%;
    position: absolute;
    display: flex;
    pointer-events: none;
}
.winer5{
    color: white;
    height: 68px;
    width: 200px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    left: 3%;
    margin-top: 16%;
    position: absolute;
}
.gameInfo{

}