<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>倒趟三哇!</title>
    <link href="static/css/daoSan/daosan_pc.css" rel="stylesheet">
</head>
<body>
    <div class="div_body" >
        <div class="backgroundDiv_image"></div>
        <div id="roomDiv" style="position: absolute;display: none;color: #cccccc;">
            <div>房间号：</div><div id="thisRoomId"></div>
        </div>
        <div id="player1" class="playerCards_top_left">
            <div class="card1" style="margin-top:0px;">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card1">
                <img class="img_size" src="image/black.jpg" />
            </div>
        </div>
        <div class="winer1" id="winer1"></div>
        <div  style="width: 100px;height: 130px;top: 4%;position: absolute;left: 14%;">
            <div style="width: 100px;height: 100px;"><img style="width: 100%;    border-radius: 50%;" src="image/userImage/1.png"></div>
            <div id='playerName1' style="color: white;text-align: center; line-height: 30px;height: 30px;font-size: 16px;">玩家名称</div>
        </div>
        <div id="player2" class="playerCards_top_right">
            <div class="card2" style="margin-top:0px;">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card2">
                <img class="img_size" src="image/black.jpg" />
            </div>
        </div>
        <div class="winer2" id="winer2"></div>
        <div  style="width: 100px;height: 130px;right: 15%;position: absolute;top: 4%;">
            <div style="width: 100px;height: 100px;"><img style="width: 100%;    border-radius: 50%;" src="image/userImage/2.png"></div>
            <div id='playerName2' style="color: white;text-align: center; line-height: 30px;height: 30px;font-size: 16px;">玩家名称</div>
        </div>
        <div id="player5" class="playerCards_mid_left">
            <div class="card5" style="margin-top:0px;">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card5">
                <img class="img_size" src="image/black.jpg" />
            </div>
        </div>
        <div class="winer5" id="winer5"></div>
        <div  style="width: 100px;height: 130px;top: 40%;position: absolute;left: 2%;">
            <div style="width: 100px;height: 100px;"><img style="width: 100%;    border-radius: 50%;" src="image/userImage/5.png"></div>
            <div id='playerName5' style="color: white;text-align: center; line-height: 30px;height: 30px;font-size: 16px;">玩家名称</div>
        </div>
        <div id="player3" class="playerCards_mid_right">
            <div class="card3" style="margin-top:0px;">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card3">
                <img class="img_size" src="image/black.jpg" />
            </div>
        </div>
        <div class="winer3" id="winer3"></div>
        <div  style="width: 100px;height: 130px;top: 40%;position: absolute;right: 2%;">
            <div style="width: 100px;height: 100px;"><img style="width: 100%;    border-radius: 50%;" src="image/userImage/3.png"></div>
            <div id='playerName3' style="color: white;text-align: center; line-height: 30px;height: 30px;font-size: 16px;">玩家名称</div>
        </div>
        <div id="player4"  class="playerCards_mid_bottom">
            <div class="card4" >
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4 ">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4">
                <img class="img_size" src="image/black.jpg" />
            </div>
            <div class="card4 mycard">
                <img class="img_size" src="image/black.jpg" />
            </div>
        </div>
        <div class="winer4" id="winer4"></div>
        <div  style="width: 100px;height: 130px;bottom: 9%;position: absolute;left: 31%;">
            <div style="width: 100px;height: 100px;"><img style="width: 100%;    border-radius: 50%;" src="image/userImage/4.png"></div>
            <div id='playerName4' style="color: white;text-align: center; line-height: 30px;height: 30px;font-size: 16px;">玩家名称</div>
        </div>
        <!--创建游戏或加入游戏模块-->
        <div id="createDiv" style="position: absolute;width: 440px;height: 50px;display: flex;top: calc(50% - 25px);left: calc(50% - 220px);justify-content: space-around;align-items: center;">
            <div id="createGame" class="btnDiv" style="top: 48%;left: 32%;">创建游戏</div>
            <div style="display:flex;align-items: center;"><div style="width: 75px;color: #000000;font-size: 18px;font-weight: 600;">房间号：</div>
                <label for="roomId"></label><input id="roomId" style="height: 28px;width:130px;border-radius: 8px;border: 0px;"/></div>
            <div id="addGame" class="btnDiv" style="top: 48%;right: 32%;" >加入游戏</div>
        </div>
       <!-- 游戏准备人数，以及开始按钮展示-->
        <div id="gameShowDiv" style="position: absolute;width: 440px;height: 50px;display:none;top: calc(50% - 25px);left: calc(50% - 220px);justify-content: space-around;align-items: center;">
            <div style="display: flex;font-size: 28px;color: #0070ff;"><div id="nowPlayerNum" >1</div><div>/</div>5<div id="totalNum"></div></div>
            <div id="startGame" disabled="disabled" class="btnDiv startGameBtn " style="top: 48%;right: 32%;">开始游戏</div>
        </div>

        <!--亮三显示框开始-->
        <div class="playerLight1"  style="">
            <div  data-type="RedHearts" class="RedSan lightCard" style="">♥</div>
            <div  data-type="Square" class="RedSan lightCard" style="">♦</div>
            <div  data-type="Spades" class="BlackSan lightCard" style="">♠</div>
            <div  data-type="ThePlumBlossom" class="BlackSan lightCard" style="">♣</div>
        </div>
        <div class="playerLight2" style="">
            <div  data-type="RedHearts" class="RedSan lightCard" style="">♥</div>
            <div  data-type="Square" class="RedSan lightCard" style="">♦</div>
            <div  data-type="Spades" class="BlackSan lightCard" style="">♠</div>
            <div  data-type="ThePlumBlossom" class="BlackSan lightCard" style="">♣</div>
        </div>
        <div class="playerLight3" style="">
            <div  data-type="RedHearts" class="RedSan lightCard" style="">♥</div>
            <div  data-type="Square" class="RedSan lightCard" style="">♦</div>
            <div  data-type="Spades" class="BlackSan lightCard" style="">♠</div>
            <div  data-type="ThePlumBlossom" class="BlackSan lightCard" style="">♣</div>
        </div>
        <div class="playerLight4" style="">
            <div data-type="RedHearts" class="RedSan lightCard" style="">♥</div>
            <div data-type="Square" class="RedSan lightCard" style="">♦</div>
            <div data-type="Spades" class="BlackSan lightCard" style="">♠</div>
            <div data-type="ThePlumBlossom" class="BlackSan lightCard" style="">♣</div>
        </div>
        <div class="playerLight5" style="">
            <div data-type="RedHearts" class="RedSan lightCard" style="">♥</div>
            <div data-type="Square" class="RedSan lightCard" style="">♦</div>
            <div data-type="Spades" class="BlackSan lightCard" style="">♠</div>
            <div data-type="ThePlumBlossom" class="BlackSan lightCard" style="">♣</div>
        </div>
        <!--亮三显示框结束-->
        <!--出牌按钮展示开始-->
        <div id="myCardOut" style="display: none;position: absolute;bottom:24%;left: 46%;align-items: center;justify-content: space-between;width: 150px;">
            <div id="outMyCards" style="width: 60px;text-align: center;border-radius: 4px;background-color: #54dd4b;color: white;cursor: pointer;user-select: none;">出牌</div>
            <div id="passCards" style="width: 60px;text-align: center;border-radius: 4px;background-color: #ff1040;color: white;cursor: pointer;user-select: none;">让步</div>
        </div>
        <!--出牌按钮展示结束-->
        <!--出牌头像展示开始-->
        <div class="time1 duola"><img style="width: 100%;height: 100%;" src="image/timg.jpg"></div>
        <div class="time2 duola"><img style="width: 100%;height: 100%;" src="image/timg.jpg"></div>
        <div class="time3 duola"><img style="width: 100%;height: 100%;" src="image/timg.jpg"></div>
        <div class="time4 duola"><img style="width: 100%;height: 100%;" src="image/timg.jpg"></div>
        <div class="time5 duola"><img style="width: 100%;height: 100%;" src="image/timg.jpg"></div>
        <!--出牌头像展示结束-->
        <!--出牌用户名称展示区域开始-->
        <div id="outUserName" class="outUserName">

        </div>
        <!--出牌用户名称区域结束-->
        <!--出牌展示区域开始-->
        <div id="outCards" class="outCards" >

        </div>
        <!--出牌展示区域结束-->
<!--        游戏语音-->
<!--        <div>-->
<!--            <input type="file" class="input_audio" id="input_audio" accept="audio/*">-->
<!--            <audio controls>-->
<!--                <source src="" id="play_audio" type="audio/mpeg">-->
<!--            </audio>-->
<!--        </div>-->
<!--        倒计时暂时-->
        <div id="time" style="display: none;height: 50px;width: 50px;position: absolute;bottom: 30%;left: 47%;color: red;font-size: 40px;"></div>
<!--        亮三提示展示-->
        <div id="lightSanWa" style="display:none;position: absolute;color: #ff3d00;font-size: 60px;top: calc(50% -  60px);height: 80px;left: calc(58% + 150px);width: 300px;text-align: center;">亮三哇！</div>'
<!--      退出房间-->
        <div id="exitGame"  class="btnDiv" style="display:none;bottom: 1%;right: 10px;position: absolute;" >退出房间</div>
        <div id="exitPage"  class="btnDiv" style="bottom: 1%;right: 10px;position: absolute;" >返回主页</div>
    </div>
    <!--结算div开始-->
    <div class="result-Div">
        <div style="width: 300px;height: 200px;display: flex;background-color: #4654ff;flex-direction: column;border-radius: 25px;top: calc(50% - 100px);position: absolute;left: calc(50% - 150px);">
            <div id="result-msg" class="result-msg"></div>
            <div id="result-money" class="result-money"></div>
            <div style="display: flex;justify-content: center;margin-top: 20px;">
                <div id="continueGame" style="height: 30px;width: 100px;background-color: #47b947;color: white;line-height: 30px;text-align: center;border-radius: 8px;">继续</div>
            </div>
        </div>
    </div>
    <div style="position: absolute;left: 3px;bottom:5px;color:#fff;">版本号：V 23.12.2.2</div>
<!--    游戏信息-->
    <div  style="position: absolute;display: flex;top: 0px;right: 0px;color: white;"><div>多大的胡：</div><div id="gameInfo"></div></div>
    <!--结算div结束-->
    <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/daoSan/daosan_init.js"></script>
    <script type="text/javascript" src="static/js/daoSan/daosan.js"></script>
</body>
</html>