<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
    <meta name="author" content="Webpixels">
    <title>Enjoy Life</title>
    <!-- Common CSS -->
    <!-- FontAwesome CSS-->
    <link href="static/common/font-awesom/css/all.min.css" rel="stylesheet">
    <!-- BootStrap CSS -->
    <link href="static/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- My CSS -->
    <link href="static/css/common.css" rel="stylesheet">
    <link type="text/css" href="static/css/myPage/myPage.css" rel="stylesheet">
    <!-- Common JS -->
    <!-- Jquery JS -->
    <script src="static/common/jquery/jquery.min.js"></script>
    <script src="static/common/bootstrap/js/bootstrap.min.js"></script>
    <!-- FontAwesome JS -->
    <script src="static/js/fontawesome/js/fontawesome-all.min.js" defer></script>
    <!-- Axios JS -->
    <script type="text/javascript" src="static/js/axios/axios.js"></script>
</head>
<body>
<div class="containerDiv">
    <div class="showUserName" id="showUserName">赵文博</div>
    <div class="userBtn">
<!--        <div id="userCenter"-->
<!--             style="width:80px;height:30px;background: white;border-radius: 8px;display: flex;align-items: center;justify-content: center;cursor: pointer;user-select: none;">-->
<!--            个人中心-->
<!--        </div>-->
        <div id="editCenter"
             style="width:30px;height:30px;color:white;display: flex;align-items:center;justify-content: center;cursor: pointer;user-select: none;">
            <i class="fa fa-book"></i>
        </div>
    </div>
</div>
<div class="pageDiv">
    <span class="mask bg-primary alpha-7"></span>
    <div style="z-index: 1;position: relative;padding-top:90px;width: 100%;display: flex;flex-direction: column;align-items: center;">
        <img src="static/image/brand/icon.png" style="width: 200px;" class="img-fluid animated"
             data-animation-in="jackInTheBox" data-animation-delay="1000">
        <h2 class="heading display-4 font-weight-400 text-white mt-5 animated"
            data-animation-in="fadeInUp" data-animation-delay="2000">
            <span class="font-weight-700">Enjoy</span> Life
        </h2>
        <p style="width: 380px;text-align: center;text-indent: 2em;"
           class="lead text-white mt-3 lh-180 c-white animated" data-animation-in="fadeInUp"
           data-animation-delay="2500">
            一生太短了，我想为每一天发生的开心事情而庆祝。即使没有，我也要为“<strong
                class="text-white">今天没有发生糟糕的事情</strong>”而庆祝。即使发生了，我也要为“<strong
                class="text-white">又熬过人生中一件糟糕的事情</strong>“而庆祝。
        </p>
    </div>
    <div id="cord_more" data-des="游戏卡片" class="myModulePage SliderBar">
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>到趟三哇...</div>
                <a href="/daosan" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:经典到三，五人局，玩家可以自由选择自己的角色，并制定自己的策略.</div>
        </div>
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>扣个八圈...</div>
                <a href="/majiang" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:这还需要介绍？上庄哇.</div>
        </div>
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>德州扑克...</div>
                <a href="/TexasPoker" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:山东德州？.</div>
        </div>
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>忙忙碌碌寻宝藏...</div>
                <a href="/treasureHunt" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div  class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:经典到三人局，森林进化论同款.</div>
        </div>
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>颜色密码</div>
                <a href="/colorSort" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:找出正确的颜色顺序.</div>
        </div>
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>数独</div>
                <a href="/shuDu" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:经典9宫格，无额外限制.</div>
        </div>
        <div class="moduleCard">
            <div style="font-weight: 700 !important;font-family: emoji;display: flex;justify-content: space-between;align-items: center;">
                <div>扫雷</div>
                <a href="/saoLei" type="button" class="btn btn-primary btn-animated btn-animated-x">
                    <span class="btn-inner--visible">Play</span>
                    <span class="btn-inner--hidden"><i class="fa fa-play"></i></span>
                </a>
            </div>
            <div class="SliderBar" style="text-indent: 2em;font-size: 18px;font-family: initial;overflow: auto;">游戏介绍:预开局版，你就玩吧.</div>
        </div>
    </div>
    <div id="user_center" data-des="个人中心"
         style="display: none;width: 94%;margin-left: 3%;background-color: white;height: calc(100% - 400px);position: relative;top: 200px;border-radius: 10px;">
        <div style="display:flex;width: 500px;flex-direction: column;align-items: center;justify-content: center;">
            <div style="height: 400px;width: 400px;"><img style="width: 100%;height: 100%;border-radius: 50%;"
                                                          id="myIcon" src=""></div>
            <div style="cursor: pointer;user-select: none;width: 100px;height: 30px;background-color: blue;color: white;display: flex;align-items: center;justify-content: center;margin-top: 30px;border-radius: 8px;">
                <input id="headImage" class="fileInput" type="file"/>
                <div style="position: absolute;pointer-events:none;">上传图片</div>
            </div>
        </div>
        <div style="width: calc(100% - 500px);padding: 30px;border-left: 1px dashed;">
            <div style="display: flex;height: 40px;align-items: center;">
                <div style="font-weight:600;font-size: 16px;">用户名称：</div>
                <div><input style="width: 600px;" type="text" name="" id="userName"></input></div>
            </div>
            <div style="display: flex;height: 40px;align-items: center;">
                <div style="font-weight:600;font-size: 16px;">个人签名：</div>
                <div><input style="width: 600px;" type="text" name="" id="userSign"></input></div>
            </div>
            <div>
                <input type="file" id="fileInput"/>
                <button onclick="uploadImage()">上传图片</button>
                <div id="result"></div>
                <div style="font-size:16px; ">我的语音：</div>
                <div style="display: flex;padding: 10px;flex-wrap: wrap;">
                    <div style="background-image:url(static/image/img/computer.jpg);height: 140px;width: 140px;background-size: cover;margin: 10px;"></div>
                </div>
                <div id="exitPage" class="btnDiv"
                     style="bottom: 1%;right: 10px;position: absolute;height: 40px;border-radius: 4px;background-color: #0095ff;color: white;line-height: 40px;width: 100px;text-align: center;">
                    返回主页
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My JS -->
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/mypage/mypage_init.js"></script>
<script type="text/javascript" src="static/js/mypage/mypage.js"></script>
</body>
</html>
