<!DOCTYPE html>
<html lang="en">
<head>
</head>
<title></title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link href="static/css/saoLei/saoLei.css" rel="stylesheet">
<script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
<body>
    <div class="addSL" id="addSL" style="">
        <div class="SaoLeiCanvas" id="saoLeiCanvas">

        </div>
    </div>
    <div class="tipDiv" >
        <div class="result-Div">
            <div id="resultInfo" class="resultInfoDiv">成功了！</div>
            <div id="okBtn" class="okBtn">确定</div>
        </div>
    </div>
    <script type="text/javascript" src="static/js/saoLei/saoLei.js"></script>
</body>
</html>

