<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>德州扑克游戏房间</title>
    <!-- Common CSS -->
    <!-- FontAwesome CSS-->
    <link href="static/common/font-awesom/css/all.min.css" rel="stylesheet">
    <!-- BootStrap CSS -->
    <link href="static/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- My CSS-->
    <link href="static/css/common.css" rel="stylesheet">
    <link href="static/css/deZhouPoker/deZhouPoker_common.css" rel="stylesheet">
    <!-- Common JS-->
    <script type="text/javascript" src="static/common/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/axios/axios.js"></script>
    <script type="text/javascript" src="static/js/stomp/sockjs.min.js"></script>
    <script type="text/javascript" src="static/js/stomp/stomp.umd.min.js"></script>
</head>
<body>
<div class="readyBody" >
    <div class="container">
        <div class="create-room">
            <button class="create-btn" onclick="createRoom()">创建房间</button>
        </div>
        <h2>当前活跃的游戏列表：</h2>
        <div class="game-list SliderBar" id="gameList">

        </div>
    </div>
</div>
<div class="poker-table">
    <div id="roomDiv"  class="roomDiv"  >
        <div>房号:</div><div id="thisRoomId"></div>
    </div>
    <div class="backHome" >
        <div id="backHome"><i class="fas fa-home"></i></div>
    </div>
    <!-- 公共牌区域 -->
    <div class="community-cards">
<!--        <div class="card">K♠</div>-->
<!--        <div class="card">8♦</div>-->
<!--        <div class="card">3♥</div>-->
        <div class="card back">?</div>
        <div class="card back">?</div>
        <div class="card back">?</div>
        <div class="card back">?</div>
        <div class="card back">?</div>
        <div id="handCard" class="hand-cards">

        </div>
    </div>

    <!-- 玩家座位区域 -->
    <div class="player-area">
        <!-- 示例座位 1-10 -->
        <!-- active 类表示当前有玩家 -->
        <!-- vacant 类表示空座位 -->
        <!-- 真实场景中可以通过类控制状态 -->
        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status"></div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i></div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

        <div class="player-seat vacant">
            <div class="player-header">
                <div style="display: flex;   align-items: center;">
                    <div class="player-dealer"><i class="fas fa-solid fa-award "></i> </div>
                    <div class="player-SB">SB </div>
                    <div class="player-BB">BB </div>
                    <div class="player-name">空座位</div>
                </div>
                <div class="chips"></div>
            </div>
            <div class="bet-info"></div>
            <div class="status">待加入</div>
        </div>

<!--        <div class="player-seat vacant">-->
<!--            <div class="player-header">-->
<!--                <div class="player-name">空座位</div>-->
<!--                <div class="chips">¥0</div>-->
<!--            </div>-->
<!--            <div class="status">待加入</div>-->
<!--        </div>-->

<!--        <div class="player-seat vacant">-->
<!--            <div class="player-header">-->
<!--                <div class="player-name">空座位</div>-->
<!--                <div class="chips">¥0</div>-->
<!--            </div>-->
<!--            <div class="status">待加入</div>-->
<!--        </div>-->
    </div>

    <!-- 操作区域 -->
    <div class="game-actions">
        <div class="pot-info">底池: <div id="pot">¥0</div></div>
        <div class="action-buttons">
            <button class="button operationBtn " id="fold">弃牌</button>
            <button class="button operationBtn " id="check">过牌</button>
            <button class="button operationBtn " id="cell">跟注 </button>
            <div id="raiseArea" style="display: flex;">
                <div style="font-size: 2rem;">¥</div>
                <input type="number" id="nowPrice" placeholder="请输入金额" value="4" min="4" step=4 style="border-radius: 8px; padding: 0px 0.5vw;" />
            </div>
            <button class="button operationBtn " id="raise">加注</button>
            <button class="button operationBtn " id="allIn">ALL IN</button>
        </div>
        <div  id="startGameDiv" >
            <button class="button" onclick="startGame()"  id="startGame">开始游戏</button>
        </div>
    </div>
    <!--结算div开始-->
    <div class="result-Div">
        <div class="result-show">
            <div id="result-cards" ></div>
            <div id="result-msg" class="result-msg"></div>
            <div id="result-money" class="result-money"></div>
            <div style="display: flex;justify-content: center;margin-top: 20px;">
                <div id="continueGame" class="continueGame" >继续</div>
                <div id="endGame" class="endGame" >继续</div>
            </div>
        </div>
    </div>
</div>
<!-- My JS-->
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/deZhouPoker/deZhouPoker_init.js"></script>
<script type="text/javascript" src="static/js/deZhouPoker/deZhouPoker_tools.js"></script>
<script type="text/javascript" src="static/js/deZhouPoker/deZhouPoker_socket.js"></script>
<script type="text/javascript" src="static/js/deZhouPoker/deZhouPoker.js"></script>
</body>
</html>
