<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="web.sn.dream.mapper.MyToDoMapper">
    <update id="updateMyToDo" parameterType="web.sn.dream.pojo.MyToDo">
        UPDATE mytodo
        SET
            info = #{info},
            user_id = #{userId},
            title = #{title},
            if_finish = #{ifFinish},
            end_time = #{endTime},
            category = #{category},
            level = #{level}
        WHERE id = #{id}
    </update>
    <select id="findMyToDoByUserIdAndFilterAndSort" resultType="web.sn.dream.pojo.MyToDo">
        select  * from mytodo where user_id=#{userId}
        <if test="currentFilter=='incomplete'">
            and if_finish is false
        </if>
        <if test="currentFilter=='complete'">
            and if_finish is true
        </if>
        <if test="currentSort=='priority'">
            order by level desc
        </if>
        <if test="currentSort=='createTime'">
            order by ctime desc
        </if>
        <if test="currentSort=='dueDate'">
            order by end_time desc
        </if>
    </select>
    <delete id="deleteMyToDoById">
        DELETE FROM mytodo WHERE id = #{id}
    </delete>
    <select id="findMyToDoById" resultType="web.sn.dream.pojo.MyToDo">
        select  * from mytodo where id=#{id}
    </select>
    <select id="findAllEdit" resultType="web.sn.dream.pojo.MyToDo">
        select  * from mytodo
    </select>
    <select id="findMyToDoBysTOeTimeAndUserId" resultType="web.sn.dream.pojo.MyToDo">
        select  * from mytodo where user_id=#{userId} and ctime BETWEEN #{time_s} AND #{time_e} and if_show=#{ifShow} order by ctime
    </select>
    <select id="findMyToDoByUserId" resultType="web.sn.dream.pojo.MyToDo">
        select  * from mytodo where user_id=#{userId} and if_show=#{ifShow} order by ctime
    </select>
    <select id="findAllToDo" resultType="web.sn.dream.pojo.MyToDo">
        select  * from mytodo
    </select>
    <insert id="insertMyToDo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mytodo (user_id,title,info,ctime,end_time,if_finish,category,level) VALUES (#{userId},#{title},#{info},#{ctime},#{endTime},#{ifFinish},#{category},#{level})
    </insert>
</mapper>