@charset "UTF-8";
.imageFileInput {
    width: 40px;
    height: 40px;
    background-size: cover;//设置图片根据盒子大小自适应展示
}
.shuJuName {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin-top: 4px;
}
.fileInput {
    height: 100%;
    width: 100%;
    opacity: 0;
}
