#端口号
server:
  port: 8086
spring:
  application:
    name: dream
  #文件格式为 UTF-8
  messages:
    encoding: utf-8
  # thymeleaf模板引擎
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
  #Redis
  # 数据库连接信息
  datasource:
     #spring.datasource.url=jdbc:mysql://127.0.0.1:3306/db2023?useUnicode=true&characterEncoding=utf-8&useSSL=false
    url: jdbc:mysql://8.141.4.23:3306/dream?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: heavengrave
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    # Druid 连接池配置
    druid:
      test-on-borrow: true          # 申请连接时是否检测有效性
      validation-query: SELECT 1     # 验证连接是否有效的 SQL
      initial-size: 5                # 初始化连接数
      max-active: 20                 # 最大连接数
      min-idle: 5                    # 最小空闲连接数
#      max-wait: 60000                # 获取连接的最大等待时间（毫秒）
#      pool-prepared-statements: true # 是否开启 PSCache
      # 是否开启保活机制
      keepAlive: true
      time-between-eviction-runs-millis: 30000
      # 保活检查间隔(毫秒)
      keepAliveBetweenTimeMillis: 60000
      validationQueryTimeout: 2
    stat-view-servlet:
      enabled: true
#      url-pattern: /druid/*
#      login-username: admin
#      login-password: admin
    web-stat-filter:
        enabled: true
#        url-pattern: /*
#        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
#    # 初始化连接数
#    initialSize: 5
#    # 最小空闲连接数
#    minIdle: 5
#    # 最大连接数
#    maxActive: 20
#    # 获取连接时最大等待时间，单位毫秒
#    maxWait: 30000
#    # 打开PSCache，并且指定每个连接上PSCache的大小
#    poolPreparedStatements: true
#    maxPoolPreparedStatementPerConnectionSize: 20
#    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
#    timeBetweenEvictionRunsMillis: 60000
#    # 配置一个连接在池中最小生存的时间，单位是毫秒
#    minEvictableIdleTimeMillis: 300000
#    testWhileIdle: true
#    validationQuery: SELECT 1
#    testOnBorrow: false
#    testOnReturn: false
#    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计
#    filters: stat,wall,log4j
#    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
#    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
#    # 配置Druid监控页的登录用户名和密码
#    statViewServlet:
#      enabled: true
#      url - pattern: /druid/*
#      login - username: admin
#      login - password: admin
#    webStatFilter:
#      enabled: true
#      url - pattern: /*
#      exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*'
  #websocket配置信息
  graphql:
    websocket:
      connection-init-timeout: 60s
  #图片上传相关配置 最大允许上传文件的大小。
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  #redis相关配置
  data:
    redis:
      host: 8.141.4.23
      port: 6379
      password: czmr125?
  # 指定外部资源路径（多个路径用逗号分隔）
  web:
    resources:
      static-locations:
        - file:/www/wwwroot/dream/
        - classpath:/static/
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    #在控制台输出控制信息
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 启用 MyBatis 驼峰命名映射
    map-underscore-to-camel-case: true
file:
  upload:
    dir: /www/wwwroot/dream/files  # 替换为你的本地目录
audio:
  upload:
    dir: /www/audio