@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.div_body {
    position: relative;
    background-color: #000000;
}

.backgroundDiv_image {
    background-image: url(../../image/majiang/majiangTable.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
}

.img_size {
    /*width: 100%;*/
    height: 100%;
    aspect-ratio: 7 / 10;
}

.startGameBtn.active {
    background-color: #0095ff;
}

.Characters1 {
    background-image: url(../../image/majiang/wan1.png);
}

.Characters2 {
    background-image: url(../../image/majiang/wan2.png);
}

.Characters3 {
    background-image: url(../../image/majiang/wan3.png);
}

.Characters4 {
    background-image: url(../../image/majiang/wan4.png);
}

.Characters5 {
    background-image: url(../../image/majiang/wan5.png);
}

.Characters6 {
    background-image: url(../../image/majiang/wan6.png);
}

.Characters7 {
    background-image: url(../../image/majiang/wan7.png);
}

.Characters8 {
    background-image: url(../../image/majiang/wan8.png);
}

.Characters9 {
    background-image: url(../../image/majiang/wan9.png);
}

.Bamboos1 {
    background-image: url(../../image/majiang/tiao1.png);
}

.Bamboos2 {
    background-image: url(../../image/majiang/tiao2.png);
}

.Bamboos3 {
    background-image: url(../../image/majiang/tiao3.png);
}

.Bamboos4 {
    background-image: url(../../image/majiang/tiao4.png);
}

.Bamboos5 {
    background-image: url(../../image/majiang/tiao5.png);
}

.Bamboos6 {
    background-image: url(../../image/majiang/tiao6.png);
}

.Bamboos7 {
    background-image: url(../../image/majiang/tiao7.png);
}

.Bamboos8 {
    background-image: url(../../image/majiang/tiao8.png);
}

.Bamboos9 {
    background-image: url(../../image/majiang/tiao9.png);
}

.Dots1 {
    background-image: url(../../image/majiang/tong1.png);
}

.Dots2 {
    background-image: url(../../image/majiang/tong2.png);
}

.Dots3 {
    background-image: url(../../image/majiang/tong3.png);
}

.Dots4 {
    background-image: url(../../image/majiang/tong4.png);
}

.Dots5 {
    background-image: url(../../image/majiang/tong5.png);
}

.Dots6 {
    background-image: url(../../image/majiang/tong6.png);
}

.Dots7 {
    background-image: url(../../image/majiang/tong7.png);
}

.Dots8 {
    background-image: url(../../image/majiang/tong8.png);
}

.Dots9 {
    background-image: url(../../image/majiang/tong9.png);
}

.Dragon_zhong {
    background-image: url(../../image/majiang/zhong.png);
}

.Dragon_fa {
    background-image: url(../../image/majiang/fa.png);
}

.Dragon_bai {
    background-image: url(../../image/majiang/baiban.png);
}

.Characters_top {
    line-height: 20px;
}

.Characters_bottom {
    line-height: 20px;
    color: red;
}

.pengGangHu {
    font-size: 2rem;
    color: #cccccc;
    font-family: cursive;
    cursor: pointer;
    display: none;
}

.pengGangHu.activeColor {
    color: #ff0000;
    display:flex;
}

.thisCard {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-size: cover;
    aspect-ratio: 7 / 10;
}