@charset "UTF-8";
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.div_body {
    width: 100vw;
    height: 100vh;
}
.btnDiv {
    height: 40px;
    border-radius: 4px;
    background-color: #0095ff;
    color: white;
    line-height: 40px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.createGame {
    width: 100px;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.startGameBtn {
    background-color: #ccc;
}
.roomNumTitle{
    width: 75px;color: #000000;font-size: 18px;font-weight: 600;
}
.roomNumDiv{
    height: 28px;width:130px;border-radius: 8px;border:0px;background-color: white;
    text-align: center;
    line-height: 28px;
}

.gameShowDiv{
    position: absolute;width: 440px;height: 50px;display:none;top: calc(50% - 25px);left: calc(50% - 220px);justify-content: space-around;align-items: center;
}
.playerReadyNum{
    display: flex;color: #0070ff;
    font-size: 28px;
}

.card1 {
    height: 100%;
    width: auto;
}

.card2 {
    height: 100%;
    width: auto;
}

.card3 {
    height: 100%;
    width: auto;
}

.card4 {
    height: 100%;
    width: auto;
}

.playerCards_mid_top {
    margin-top: 2vh;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerCards_mid_left {
    width:100vh;
    align-items: center;
    justify-content: center;
    height: 10vw;
    top: 50%;
    left: 10vw;
    transform: translate(-50%, -50%) rotate(90deg);
}

.playerCards_mid_right {
    align-items: center;
    justify-content: center;
    width: 100vh;
    top: 50%;
    left: 90vw;
    transform: translate(-50%, -50%) rotate(270deg);
}

.playerCards_mid_bottom {
    position: absolute;
    bottom:2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time1 {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 20%;
    left: 30%;
    display: none;
}

.time2 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
    right: 16%;
    display: none;
}

.time3 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 19%;
    left: 26%;
    display: none;
}

.time4 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
    left: 14%;
    display: none;
}

.thisCard.active {
    margin-top: -20px;
}

.result-Div {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
   /* background-color: #ffffff3d;*/
    background-color : #303030f0;
    top:0;
}

.result-show{
    display: flex;
    background-color: #4654ff;
    flex-direction: column;
    border-radius: 14px;
    padding: 2vh 2vw;
    margin: auto;
}


/**
 * 万字牌样式
 */
.thisCard {
    border-radius: 8px;
}

/**
 * 金牌样式
 */
.tag {
    position: absolute;
    top: 28px;
    left: -14px;
    background-color: #ff0000;
    color: white;
    padding: 0px 24px 0px 20px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
/*中心区域*/
.center {
    width: 120px;
    display: none;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    flex-direction: row;
    border: 1px solid #419649;
}

.keyHot {
    position: relative;
    overflow: hidden;
    width: 69px; /* 容器的宽度 */
    height: 93px; /* 容器的高度 */
    border-radius: 8px;
}

.outTime {
    display: flex;
    margin-top: 70px;
    width: 50px;
    height: 50px;
    margin-left: 1px;
    color: red;
    font-size: 40px;
    /*background-color: white;*/
    justify-content: center;
    align-items: center;
}

.bottomSpace {
    position: absolute;
    display: grid;
    top:58vh;
    left: calc(50vw - 22.4vh);
    width: 44.8vh;
    height: 24vh;
    background-color: #cfcfcf30;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.rightSpace {
    position: absolute;
    display: grid;
    top: calc(50% - 12vh);
    left: calc(50vw + 12vh);
    width: 44.8vh;
    height: 24vh;
    background-color: #cfcfcf30;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotate(270deg);
}

.topSpace {
    position: absolute;
    display: grid;
    top: 18vh;
    left: calc(50vw - 22.4vh);
    width: 44.8vh;
    height: 24vh;
    background-color: #cfcfcf30;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotate(180deg);
}

.leftSpace {
    position: absolute;
    display: grid;
    top: calc(50% - 12vh);
    left: calc(50vw - 56.8vh);
    width: 44.8vh;
    height: 24vh;
    background-color: #cfcfcf30;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotate(90deg);
}

.playerNameSpace1 {
    width: auto;
    height: auto;
    bottom: 14vh;
    position: absolute;
    left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerNameSpace2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 46vh;
    position: absolute;
    right: 2vw;
}

.playerNameSpace3 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:4vh;
    position: absolute;
    left:20vw;
}

.playerNameSpace4 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 46vh;
    position: absolute;
    left: 2vw;
}

.gamePriceInfo {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    color: white;
}

.gameInfo-Div{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff3d; */
    background-color: #ffffff01;
    top: 0;
}
.gameInfo-show{
    display: flex;
    background-color: #6dac5b;
    flex-direction: column;
    border-radius: 14px;
    padding: 10px 20px;
    margin: auto;
    gap: 1vh;
    z-index: 100;
}
.gameInfo-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:6vh;
    justify-content: flex-start;
    align-items: center;
    gap:1vw;
}


.switch-radio-item {
    display: inline-block; /* 或者 flex item */
    position: relative;
    margin-right: 5px; /* 按钮间距 */
}

/* 隐藏原始 input */
.switch-radio-item input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/* label 作为按钮背景 */
.switch-radio-item label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #555;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    user-select: none; /* 防止文字被选中 */
}

/* 选中状态的 label 样式 */
.switch-radio-item input[type="radio"]:checked + label {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* Hover 状态 */
.switch-radio-item:not(:has(input:checked)):hover label {
    background-color: #e0e0e0;
}

/* Focus 状态 */
.switch-radio-item input[type="radio"]:focus + label {
    /*outline: 2px solid rgba(0, 123, 255, 0.5);*/
    /*outline-offset: 2px;*/
}

/* 禁用状态 (如果需要) */
.switch-radio-item input[type="radio"]:disabled + label {
    background-color: #eee;
    color: #aaa;
    border-color: #ddd;
    cursor: not-allowed;
}
.switch-radio-item input[type="radio"]:disabled:checked + label {
    background-color: #a0cfff; /* 禁用且选中的颜色 */
    border-color: #a0cfff;
    color: #f0f0f0;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.radio-title{
    text-align-last: justify;
    width: 3vw;
}

.radio-group {
    display: flex;
    flex-direction: row; /* 或者 row */
    gap: 10px; /* 选项间距 */
}

.gameInfo-row-botton{
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.room-list{
    display: none;
    position: absolute;
    background-color: white;
    width: 7vw;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 10vh;
    margin-left: 3vw;
    max-height:7vh;
    overflow: auto;
    z-index: 99;
    min-width: 160px;
}
.room_info{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: auto;
    white-space: nowrap;
}
.exitBtn{
    position: absolute;
    bottom: 1%;
    right: 10px;
}


.createDiv{
    position: absolute;
    width: 440px;
    height: 50px;
    display: flex;
    top: calc(50% - 25px);
    left: calc(50% - 220px);
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

.userAvatar{
    width: 6vh;
    height: 6vh;
}

.playerCards{
    height: 9vh;
    position: absolute;
    display: flex;
}

.player-pg1{
    display: flex;
    height: 8vh;
    position: absolute;
    bottom: 2vh;
    width: auto;
    left: 0.5vw;
}
.player-pg2{
    display: flex;
    height: 8vh;right:18vh;position: absolute;top: 280px;width: auto;transform: rotate(270deg);
}
.player-pg3{
    display: flex;
    height: 8vh;right: 10px;position: absolute;top:5vh;width: auto;transform: rotate(180deg);
}
.player-pg4{
    display: flex;
    height: 8vh;left:18vh;position: absolute;top: 280px;width: auto;transform: rotate(90deg);
}

.pengGangHuDiv{
    display:none;
    position: absolute;
    bottom: 12vh;
    left: calc(100% - 400px);;
    align-items: center;
    gap: 15px;
}

.roomDiv{
    font-size:20px;
}

.continueGame{
    height: 6vh;line-height: 6vh;width: auto;background-color: #47b947;color: white;text-align: center;border-radius: 8px;cursor: pointer;font-size: 1rem;padding: 0px 4vh;
}

.endGame{
    display: none;
    height: 6vh;line-height: 6vh;width: auto;background-color: #47b947;color: white;text-align: center;border-radius: 8px;cursor: pointer;font-size: 1rem;padding: 0px 4vh;
}


.FzCard{
    transform: rotate(90deg);
    margin-left:1.2vh;margin-top:1.2vh;
}


.dealer1{
    display: none;
    color: red;
    position: absolute;
    font-size: 2rem;
    bottom: calc(15vh - 1rem);
    left: calc(20vw - 2rem);
}
.dealer2{
    display: none;
    color: red;
    position: absolute;
    font-size: 2rem;
    bottom: calc(46vh - 2rem);
    right: calc(2vw);
}
.dealer3{
    display: none;
    color: red;
    position: absolute;
    font-size: 2rem;
    top: calc(12vh - 1rem);
    left: calc(20vw - 2rem);
}
.dealer4{
    display: none;
    color: red;
    position: absolute;
    font-size: 2rem;
    bottom: calc(46vh - 2rem);
    left: calc(2vw);
}


.result_pai{
    height:6vh;display:flex;flex-direction:row;justify-content:center;margin-top:1vh;
}